.DiceImg {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.DiceImg img {
  height: 150px;
  width: 150px;
}

.DiceImg button {
  width: 140px;
  height: 40px;
  padding: 10px, 18px, 10px, 18px;
  border-radius: 5px;
  gap: 10px;
  color: white;
  background-color: black;
  font-weight: 200;
  margin-top: 5px;
}

.DiceImg button:hover {
  background-color: aliceblue;
  color: black;
  border: 1px solid black;
  transition: 0.3s background ease-out;
}